@model Article
<div>
    <label>Thème :</label>
    <input asp-for="Theme" />
</div>
<div>
    <label>Auteur :</label>
    <input asp-for="AuthorName" />
</div>
<div>
    <label>Votre article :</label>
    <input asp-for="Content" />
</div>
<button type="submit" class="btn btn-dark">Publier</button>